<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Training_Animal>
            <version>1.0.3</version>
        </Training_Animal>
    </modules>
    <global>
    	<resources>
            <training_animal_setup>
                <setup>
                    <module>Training_Animal</module>
                    <class>Training_Animal_Model_Resource_Setup</class>
                </setup>
                <connection>
          			<use>core_setup</use>
        		</connection>
            </training_animal_setup>
            <training_animal_write>
		        <connection>
		          <use>core_write</use>
		        </connection>
		     </training_animal_write>
        </resources>
        <models>
            <training_animal>
                <class>Training_Animal_Model</class>
                <resourceModel>training_animal_resource</resourceModel>
            </training_animal>
            <training_animal_resource>
                <class>Training_Animal_Model_Resource</class>
                <entities>
                    <animal>
                        <table>training_animal_entity</table>
                    </animal>
                </entities>
            </training_animal_resource>
        </models>
    </global>
    <adminhtml>
	    <fieldsets>
	      <attribute_insalled>
	        <create>1</create>
	        <update>1</update>
	      </attribute_insalled>
	    </fieldsets>
	</adminhtml>
</config>